<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{- partial "head/head.html" . -}}

    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <link rel="stylesheet" href="{{ "/css/swiper.css" | relURL }}">


  </head>

  <body class="{{ .Type }} {{ .Section }} layout-{{ .Layout }}">
    <div id="wrapper">
      {{ partial "header.html" . }}

      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>

      {{ partial "footer.html" . }}
    </div>

    {{ partial "scripts.html" . }}

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {{ block "scripts" . }}{{ end }}
  </body>
</html>
