<div style="background: yellow; padding: 1rem; font-weight: bold;">
  swiper-gallery.html partial loaded
</div>

{{ range $key, $images := .Params }}
  {{ if hasPrefix (lower $key) "swiperimages" }}
    <div class="swiper {{ $key }}">
      <div class="swiper-wrapper">
        {{ range $images }}
          <div class="swiper-slide">
            <img src="{{ . }}" alt="Slide" />
          </div>
        {{ end }}
      </div>

      <div class="swiper-pagination pagination-{{ $key }}"></div>
      <div class="swiper-button-prev prev-{{ $key }}"></div>
      <div class="swiper-button-next next-{{ $key }}"></div>
    </div>
  {{ end }}
{{ end }}
