<div style="background: yellow;">swiper-gallery.html partial loaded</div>

{{/* Renders all your swiperImages groups */}}
{{/* layouts/partials/swiper/gallery.html */}}

{{ $gallery := site.Data.swipers.gallery }}

{{ range $key, $val := $gallery }}
  <div class="info-box">
    <h2 class="info-box-title">{{ $val.header }}</h2>
    <p class="info-box-description">{{ $val.description }}</p>

    <div class="swiper {{ $key }}">
      <div class="swiper-wrapper">
        {{ range $val.images }}
          <div class="swiper-slide">
            <img src="{{ . }}" alt="Slide from {{ $key }}" />
          </div>
        {{ end }}
      </div>
      <div class="swiper-pagination pagination-{{ $key }}"></div>
      <div class="swiper-button-prev prev-{{ $key }}"></div>
      <div class="swiper-button-next next-{{ $key }}"></div>
    </div>
  </div>
{{ end }}
