<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    {{ range $index, $images := .Params }}
      {{ if hasPrefix (string $index) "swiperImages" }}
        new Swiper('.swiper{{ $index }}', {
          loop: true,
          slidesPerView: 1,
          pagination: {
            el: '.swiper-pagination-{{ $index }}',
            clickable: true
          },
          navigation: {
            nextEl: '.swiper-button-next-{{ $index }}',
            prevEl: '.swiper-button-prev-{{ $index }}'
          }
        });
      {{ end }}
    {{ end }}
  });
</script>
